html[dir="rtl"] body {
  font-family: "Tahoma", "Arial", sans-serif;
}

html[dir="rtl"] .button-arrow {
  transform: scaleX(-1);
}

html[dir="rtl"] input,
html[dir="rtl"] textarea {
  text-align: right;
}
